:root {
    --white: #ffffff;
    --dark: #212121;
    --primary: #ffc107;
    --secondary: #0097a7;
    --grey: #757575;
    --mainFont: 3.8rem;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

.title {
    text-align: center;
    font-size: var(--mainFont);
}

.title span {
    font-size: 2rem;
}